.global-header {
    margin-bottom: var(--spacing-20);
}

/* 大デバイス（デスクトップ, 1200px 未満）*/
@media (min-width: 992px) {
 .title {
   font-size: 2.0rem;
 }
 .sub-title {
    font-size: 1.0rem;
 }
 .basis {
     font-size: 0.9rem;
 }
}
/* 中デバイス（タブレット, 992px 未満）*/
@media (max-width: 991.98px) {
 .title {
   font-size: 2.0rem;
 }
 .sub-title {
    font-size: 1.0rem;
 }
 .basis {
    font-size: 0.9rem;
 }
}
/* 小デバイス（横向きモバイル, 768px 未満）*/
@media (max-width: 767.98px) {
 .title {
   font-size: 1.5rem;
 }
 .sub-title {
    font-size: 0.8rem;
 }
 .basis {
    font-size: 0.7rem;
 }
}
/* @include media-breakpoint-up(sm) {*/
/* 極小デバイス（縦向きモバイル, 576px 未満）*/
@media (max-width: 575.98px) {
 .title {
   font-size: 0.8rem;
 }
 .sub-title {
    font-size: 0.4rem;
 }
 .basis {
    font-size: 0.3rem;
 }
}